* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgba(8, 96, 196, 0.829);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center; 
}

.container {
    display: flex; 
    flex: 1;
    align-items: center;
    gap: 100px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
padding: 5px;
font-size: 1.2em;
}

.grid {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    width: 500px;
    height: 500px;
}
.row-grid {
    display: flex;
    flex: 1; 
    background-color: antiquewhite;  
}

.grid-item {
    background-color: white;
    flex: 1;
    border: 1px rgba(0, 0, 0, 0.219) solid;
}

.footer {
    padding: 10px;
    font-size: 1.2em;
}